html{
	font-size: 10px;
	outline: 0!important;
}
body{
	position: relative;
	max-width: 100vw;
	min-height: 100vh;
	font-size: 1.6rem;
	background-color:black;
	background-image:url('../img/fond.png');
}
a{
	width: 100%;
	display: block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: white;
	outline: 0!important;
}
.site-l{
	position: relative;
	display: block;
	float: none;
	margin: auto;
	max-width: 950px;
	width: 100%;
}
.site{
	position: relative;
	display: block;
	float: left;
	width: 25%;
	border: 3rem solid transparent;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.axe{
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.bck-axe{
	background-color: rgba(0,0,0,0.5);
	background-position: center center;
	background-size: cover;
}
.site-content{
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	/*overflow: hidden;*/

	/*-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;*/
}
.site-content:hover, .site-content:focus{
	-webkit-box-shadow:	0px 0px 5px 1px rgba(0,255,0,1);
	-moz-box-shadow:	0px 0px 5px 1px rgba(0,255,0,1);
	-o-box-shadow:		0px 0px 5px 1px rgba(0,255,0,1);
	box-shadow:			0px 0px 5px 1px rgba(0,255,0,1); 
}
.site-content .local-link{
	position: relative;
	display: block;
	float: none;
	width: 120%;
	height: 100%;
	line-height: 100%;
	margin-top: 110%;
	margin-left: -10%;
	color: green;
	background-color: rgba(255,255,255,0.2);

	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
	-o-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);

	-webkit-transition: margin-top 0.5s, background-color 0.5s;
	-moz-transition: margin-top 0.5s, background-color 0.5s;
	-o-transition: margin-top 0.5s, background-color 0.5s;
	transition: margin-top 0.5s, background-color 0.5s;
}
.site-content:hover .local-link, .site-content:focus .local-link{
	margin-top: 0%;
}
.local-link:hover{
	text-shadow: 1px 1px rgba(0,255,0,0.1);
	background-color: rgba(255,255,255,0.6);
}
.site-content .git-link{
	position: relative;
	display: block;
	float: none;
	width: 120%;
	height: 100%;
	line-height: 100%;
	margin-top: -110%;
	margin-left: -10%;
	color: green;
	background-color: rgba(255,255,255,0.2);

	-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
	-o-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);

	-webkit-transition: margin-top 0.5s, background-color 0.5s;
	-moz-transition: margin-top 0.5s, background-color 0.5s;
	-o-transition: margin-top 0.5s, background-color 0.5s;
	transition: margin-top 0.5s, background-color 0.5s;
}
.git-link:hover{
	background-color: rgba(255,255,255,0.6);
}
.site-content:hover .git-link, .site-content:focus .git-link{
	margin-top: -70%;
}
.site-content .git-link img{
	position: absolute;
	display: block;
	width: 24px;
	padding: 3px;
	bottom: 1rem;
	right: 0;
	left: 0;
	margin: auto;

	-webkit-transition: background-color 0.5s, -webkit-border-radius 0.5s;
	-moz-transition: background-color 0.5s, -moz-border-radius 0.5s;
	-o-transition: background-color 0.5s, -o-border-radius 0.5s;
	transition: background-color 0.5s, border-radius 0.5s;
}
.site-content .git-link:hover img{
	background-color: white;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#btnMenu{
	position: fixed;
	left: 0;
	top: 0;
	width: 3.2rem;
	padding: 1rem;
	z-index: 9999;
}
#btnMenu img{
	width: 3.2rem;
	padding: 1rem;

	-webkit-transition: background-color 0.5s, -webkit-border-radius 0.5s;
	-moz-transition: background-color 0.5s, -moz-border-radius 0.5s;
	-o-transition: background-color 0.5s, -o-border-radius 0.5s;
	transition: background-color 0.5s, border-radius 0.5s;
	
}
#btnMenu:hover img{
	background-color: white;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#conffZone
{
	min-height: 100vh;
	clear: both;
	display: none;
	background-color: rgba(255,255,255,0.1);
	/*-moz-box-shadow: inset 0px 10px 5px 0px #656565;
	-webkit-box-shadow: inset 0px 10px 5px 0px #656565;
	-o-box-shadow: inset 0px 10px 5px 0px #656565;
	box-shadow: inset 0px 10px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=18255, Strength=5);*/
}