*{
	box-sizing: border-box;
}

html{
	font-family: $font-name;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-size: $remInit; /* INIT REM DON'T TOUCH! if you want to change font size do it in body tag plz */
	outline: 0!important;
}

body{
	height: 100%;
	width: 100%;
	font-size: $font-size;
}

/* normalize afte mayeur reset sub/su styles
* based on : https://gist.github.com/unruthless/413930
*/
.exposent {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	@extend .exposent;
	top: -0.5em;
}

sub {
	@extend .exposent;
	bottom: -0.25em;
}

i{
	font-style: italic;
}

.both, .clear{
	clear: both;
}

.block{
	position: relative;
	display: block;
}

.absolute-block{
	position: absolute;
	display: block;
	float: none;
}

.fixed-block{
	position: fixed;
	display: block;
	float: none;
}

.table-block{
	position: relative;
	display: table;
}

.left-block{
	@extend .block;
	float: left;
}

.right-block{
	@extend .block;
	float: right;
}

.break-block{
	@extend .block;
	@extend .both;
}

.auto-block{
	@extend .break-block;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.auto-abs-block{ /* hack css margin auto in absolute */
	@extend .absolute-block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.ninja-block{ /* NIN NIN! */
	@extend .block;
	height: 0rem;
	width: 0rem;
	visibility: hidden;
	overflow: hidden;
}

.full-block{
	@extend .block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.full-bg{
	@include background-size(cover);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.full-fixed-bg{
	@extend .full-bg;
	background-attachment: fixed;
}

#page{
	@extend .break-block;
	
	width: 100%;
	max-width: 100%;
	min-width: 32rem;
	min-height: 100vh;

	overflow: hidden;
}

#content{
	@extend .auto-block;
	width: 100%;
	max-width: 200rem;

	margin-top: 6rem;
	margin-bottom: 0;
}

.container{
	@extend .auto-block;
	max-width: 160rem;
	width: 100%;
}

.img-responsive{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.img-full{
	width: 100%;
	height: auto;
}

.site-main{
	padding: 0;
}

.entry-footer, .comments-area, .mobil-only, .post-navigation{
	display: none!important;
}

.svg-dotted{
	@extend .absolute-block;
	max-width: 100%;
}

.abstractElem{
	@extend .absolute-block;
	content: '';
}

.c1{
	@extend .left-block;
	width: 98%;
	margin: 1%;
}

.c2{
	@extend .left-block;
	width: 48%;
	margin: 1%;
}

.c3{
	@extend .left-block;
	width: 31.3%;
	margin: 1%;
}

.c4{
	@extend .left-block;
	width: 23%;
	margin: 1%;
}

.c5{
	@extend .left-block;
	width: 18%;
	margin: 1%;
}

.c6{
	@extend .left-block;
	width: 14.6%;
	margin: 1%;
}

.title-row{
	// border: 0.2rem solid $title-rowColor;
	width: 10rem;
}

.center-block{
	float: none;
	margin-left: auto;
	margin-right: auto;
}